* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: white;
    height: 70px;
    display: flex;
    align-items: center;
}

h1 {
    color: #29B1DD;
    margin-left: 3rem;
}

section {
    background-color: #29B1DD;
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

h3 {
    margin: 1rem;
}

main {
    background-color: #DDDDDD;
}

.main-container {
    padding: 2rem;
}

.card {
    background-color: white;
    padding: 1rem 0;
    margin: 0 .5rem;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    box-shadow: 3px 3px grey;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

p {
    margin-top: 1rem;
}

.card:hover {
    transform: scale(1.05);
    cursor: pointer;
}

#container {
    margin: 0 auto;

}