* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    background-color: #29B1DD;
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    background-color: #DDDDDD;
}

.main-container {
    padding: 2rem;
    display: flex;
    justify-content: center;
    justify-content: center;
}

.card {
    background-color: white;
    padding: 1rem 0;
    margin: 0 .5rem;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

p {
    margin-top: 1rem;
}